#vineta {
  padding: 10px 10px;

  strong, td {
    color: white;
  }

  th {
    color: #FFC500;
  }

  .table, td, th, thead, tbody {
    background: #005DAA;
    border: 1px solid black;
    font-size: 18px;
  }
}